<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  	
  <test thread-count="5" name="Test run">
    <groups>		
   <run>		
    <exclude name="run" />    	
   </run>   		
  </groups>
    <classes>
      <class name="com.selenium.test.FindElementsTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test Output">
    <groups>		
   <run>		
    <exclude name="output" />    	
   </run>   		
  </groups>
    <classes>
      <class name="com.selenium.test.FindElementsTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
